<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.gtri.fhir.api.vistaex.resource.impl.VistaExResourceImpl" level="DEBUG"/>
    <logger name="org.gtri.fhir.api.vistaex.resource.impl.VistaExResourceTranslatorImpl" level="DEBUG"/>
    <logger name="org.gtri.fhir.api.vistaex.rest.service.servlet.GtVistaRestfulServlet" level="DEBUG"/>
    <logger name="org.gtri.fhir.api.vistaex.rest.service.conformance.GtVistaExConformanceProvider" level="DEBUG"/>
    <logger name="org.gtri.fhir.api.vistaex.rest.service.interceptor.OauthInterceptor" level="DEBUG"/>
    <logger name="org.gtri.fhir.api.vistaex.rest.service.security.OauthAuthorization" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>